.container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d1419;
    color: black;
}

.card-header {
    background-color: #dbdce3;

}

.card-text, .card-title {
    color: #141f27;
}

.image {
    margin-left: -30px;
    margin-top: 250px;
}

.tecnologies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tecnologies button {
    border: none;
    background-color: #dbdce3;
    font-size: 20px;
}

