<div class="container-fluid">   
    <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-header"> 
            # 
            <fa-icon 
                [icon]="iconList[0].icon" 
            ></fa-icon>
            {{iconList[0].name}}
        </div>
        <div class="card-body text-primary">
          <h5 class="card-title">¡Hola!</h5>
          <p class="card-text">Mi nombre es Irina y me gusta crear cosas que viven en la web.</p>
          <p class="card-text">Mi interés por el desarrollo surgió hace dos años atrás cuando..</p>
        </div>
    </div>

    <div class="card mb-3 image" style="max-width: 8rem;">
        <img class="card-img-top" src="../../../assets/about-image.jpg" alt="Card image cap">
    </div>   
</div>
