<div class="container-fluid">
   
    <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-header"> 
            # 
            <fa-icon 
                [icon]="iconList[0].icon" 
            ></fa-icon>
            {{iconList[0].name}}

        </div>
        <div class="card-body text-primary">
          <h5 class="card-title">¡Hola!</h5>
          <p class="card-text">Mi nombre es Irina y me gusta crear cosas que viven en la web.</p>
          <p class="card-text">Mi interés por el desarrollo surgió hace dos años atrás cuando..</p>
        </div>
    </div>

    <div class="card mb-3 image" style="max-width: 10rem;">
        <img class="card-img-top" src="../../../assets/about-image.jpg" alt="Card image cap">
    </div>

    <div class="card">
        <div class="card-header tecnologies"> 
            <span> #
                <fa-icon 
                [icon]="iconList[1].icon"
                ></fa-icon>
                {{iconList[1].name}}
            </span> 
            <button>
                <fa-icon 
                    [icon]="iconList[2].icon" 
                ></fa-icon>           
            </button>

        </div>
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
   
</div>
