<div class="card">
    <div class="card-header"> 
        <span> 
            #
            <fa-icon 
            [icon]="iconList[0].icon"
            ></fa-icon>
            {{ iconList[0].name }}
        </span> 
    </div>
    <div class="skills">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li 
                    class="nav-item"
                    *ngFor="let skill of skills"
                >
                    <a 
                    class="nav-link"
                    [ngClass]="{'active': skill.id === activeTabId}"
                    (click)="changeActiveTab(skill.id)"
                >
                   {{ skill.title }}
                </a>
                </li>
            </ul>
        </div>
        <div class="card-body">            
            <app-skills-tecnologies
                [skills]="skills"
                [activeTabId]="activeTabId"
            ></app-skills-tecnologies>
        </div>
    </div>