<div class="card">
    <div class="card-header tecnologies"> 
        <span> #
            <fa-icon 
            [icon]="iconList[0].icon"
            ></fa-icon>
            {{iconList[0].name}}
        </span> 
    </div>
    <div class="skills">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a 
                    class="nav-link active" 
                    href=""
                    (click)="showSkills()"
                >
                    Front-end
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Back-end</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">DevOps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Habilidades blandas</a>
                </li>
            </ul>
        </div>
        <div class="card-body">            
            <app-skills-tecnologies 
                class=""
            >                      
            </app-skills-tecnologies>
        </div>
    </div>
