.card {
    min-height: 24.5rem; 
    max-height: 24.5rem;
}

.card-header {
    background-color: #dbdce3;
}

.nav-link.active {
    background-color: #FFFFFF;
}

.nav-item a {
    text-decoration: none;
    color: #141f27;
}

.card-body {
    display:flex;
    justify-content: center;
}